# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
*.venv
venv/
env/
ENV/
*.egg-info/
.eggs/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Uploaded files
uploads/

# ChromaDB
chroma_db/

.uploads/
.venv

# vertualenv
.venv
venv/ 
backend\venv
